$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

.floatclear {
  clear: both;
}

.floatleft {
  float: left;
}

/* Use redbox to see outlines of elements for development */
.redbox {
  border: 1px solid red;
}
.greenfill {
  background: green;
}

.padding-top-10 {
  padding-top: 10px;
}

.padding-right-20 {
  padding-right: 20px;
}

.padding-bottom-20 {
  padding-bottom: 20px;
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Space out content a bit */
body {
  margin: 0 auto;
  padding-top: 0px;
  padding-bottom: 20px;
  border-top: 20px solid black;
}

#big-border {
  max-width: 1100px;
  margin: 0 auto;
  margin-top: 20px;
  background: white;
  padding: 5px;
}

/* Custom page header */
.header {
  border-bottom: 5px double #C7142A;
  padding-bottom: 20px;


  #logo-row {
    padding-top: 5px;
  }

  #logo-font-box {
    background-image: url("../images/header_bg_med.png");
    border: 5px solid #C7142A;
    border-radius: 30px;
    margin: 20px;
    text-align: center;
    padding: 0px 0px 0px 0px;
    margin-top: 0;
    margin-bottom: 5px;
    line-height: 40px;
    padding-bottom: 19px;
    width: 250px;
  }

  #logo-mini-box {
    padding: 0px 0px 0px 70px;
    margin: 0;
  }
  #bagel_image {
    text-align: center;
    /* margin-top: 10px; */
    margin-bottom: 5px;
  }
}

#edit_your_items {
  font-weight: boldest;
}

/* Custom page footer */
.footer {
  padding-top: 20px;
  padding-bottom: 30px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

h1,h2,h3 {
    font-family: 'Pacifico', cursive;
    color: #2D365A; //blue
}

h1 {
    font-size: 50px;
    font-weight: boldest;
    color: #2D365A;
}


#navbar {
  padding-right: 20px;
  width: 90%;
  max-width: max-content;
}
.nav-pills>li {
  border-radius: 20px;
}

/* nav pill color - inactive */
.nav-pills>li>a {
  background-color: white;
  border: 2px solid #C7142A; //red
  color: #000;

}

/* nav pill color - hover */
.nav-pills>li>a:hover {
  border: 2px solid #2D365A; //blue
}

.nav_item {
  font-size: 14px;
}

/* Social Nav */
#soc_nav_container {
  padding-top: 5px;
  padding-bottom: 5px;
}


#navsocial a{
  display: block;
  float: right;
  height: 48px;
  width: 48px;
  margin-right: 10px;

  text-indent: -9999px;
  overflow: hidden;
  background-image: url("../images/socialNav.png");
  background-repeat: no-repeat;
}

#navsocial a.gmail {
  background-position: 0 0;
}

#navsocial a.twitter {
  background-position: -48px 0;
}

#navsocial a.facebook {
  background-position: -97px 0;
}
#navsocial a.rss {
  background-position: -146px 0;
}

#navsocial a.gmail:hover {
  background-position: 0 -48px;
}

#navsocial a.twitter:hover {
  background-position: -48px -48px;
}

#navsocial a.facebook:hover {
  background-position: -97px -48px;
}
#navsocial a.rss:hover {
  background-position: -146px -48px;
}
.container {
  margin-top: 40px;
  padding-bottom: 50px;
  min-height: 300px;
}

.product-item {
  // border-top: 1px solid #C7142A; //red
}
.menu_item-box {
  max-width: 100px;
}


/* Responsive: Portrait tablets and up */
// @media screen and (min-width: 768px) {
//   .container {
//     max-width: 730px;
//   }

//   /* Remove the padding we set earlier */
//   .header,
//   .marketing,
//   .footer {
//     padding-left: 0;
//     padding-right: 0;
//     clear: float;
//   }

//   /* Space out the masthead */
//   .header {
//     margin-bottom: 30px;
//   }
// }
