
  <div class="form-row">
    <label>
      <span>Address 1</span>
      <input type="text" size="20" id="street-1"/>
    </label>
  </div>

  <label>
      <span>Address 2</span>
      <input type="text" size="20" id="street-2"/>
    </label>
  </div>

  <div class="form-row">
    <label>
      <span>Zipcode</span>
      <input type="text" size="5" id="zipcode"/>
    </label>
  </div>

  <div class="form-row">
    <label>
      <span>Phone Number</span>
      <input type="text" size="10" id="phone-number"/>
    </label>
  </div>

