
  <h2>Where are we Heading?</h2>
  <div class="form-group">
    <label>
      <span>Address 1</span>
      <input type="text" size="20" class="form-control" id="street-1"/>
    </label>
  </div>

    <div class="form-group">
  <label>
      <span>Address 2</span>
      <input type="text" size="20" class="form-control" id="street-2"/>
    </label>
  </div>

  <div class="form-group">
    <label>
      <span>Zipcode</span>
      <input type="text" class="form-control" size="5" id="zipcode"/>
    </label>
  </div>

  <div class="form-group">
    <label>
      <span>Phone Number</span>
      <input type="text" class="form-control" size="10" id="phone-number"/>
    </label>
  </div>


