
<div id="display_user">
</div>

  <!-- HANDLEBARS TEMPLATE -->
  <script id="user_profile_template" type="text/x-handlebars-template">
    {{#users}}
      <ul>
        <li> User Profile: <br>
          First Name: {{first_name}} <br>
          Last Name: {{last_name}} <br>
          Email: {{email}} <br>
          Phone Number: {{phone_number}} <br>
          Address 1: {{address_1}} <br>
          Address 2: {{address_2}} <br>
          Zipcode: {{address_zipcode}}
        </li>
      </ul>

      Edit Your Profile:
      <form id="edit-profile-form">
        First Name: <input type=text id=user-first-name-field-{{this.id}} value="{{first_name}}" /> <br>
        Last Name: <input type=text id=user-last-name-field-{{this.id}} value="{{last_name}}" /> <br>
        Email: <input type=text id=user-email-field-{{this.id}} value="{{email}}" /> <br>
        Phone Number: <input type=text id=user-phone-field-{{this.id}} value="{{phone_number}}" /> <br>
        Address 1: <input type=text id=user-address-1-field-{{this.id}} value="{{address_1}}" /> <br>
        Address 2: <input type=text id=user-address-2-field-{{this.id}} value="{{address_2}}" /> <br>
        Zipcode: <input type=text id=user-zipcode-field-{{this.id}} value="{{address_zipcode}}" /> <p>

        <input type="submit" value="Save Profile"/>
      </form>


    {{/users}}


  </script>

<!-- REQUIRE JQUERY & HANDLEBARS -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="../../bower_components/handlebars/handlebars.js"></script>

  <!-- RENDER TEMPLATE AFTER EVERYTHING ELSE LOADED -->
  <script src="../js/my-profile.js"></script>
