<h1>How do we make this bagel magic happen?</h1>
<form id='date-time-form'>

  <div class="form-row">
    <label>
      <input type="radio" name="delivery-option" id="pickup" value="pickup" checked>Pickup
      <input type="radio" name="delivery-option" id="delivery" value="delivery">delivery
    </label>
  </div>
  <div class="form-row">
    <label>
      <span>Time</span>
      <input type="time" id='time' name="time">
    </label>
  </div>
  <div id="delivery-add"></div>


  <input type="button" value="Submit" id="submit" name="date"></p>
</form>
