<form action="" id="payment-form">
<h2>Give us your deets!</h2>
<br>
	<span class="payment-errors"></span>

	<div class="form-group">
		<label>
			<span>Card Number</span>
			<input type="text" class="form-control" size="20" id="number" />
		</label>
	</div>

	<div class="form-group">
		<label>
			<span>CVC</span>
			<input type="text" class="form-control" size="4" id="cvc" />
		</label>
	</div>

	<div class="form-group">
		<label>
			<span>Expiration (MM)</span>
			<input type="text" class="form-control" size="2" id="exp-month" />
		</label>
		<label>
		<span>(YYYY)</span>
		<input type="text" size="4" class="form-control" id="exp-year" />
		</label>
	</div>

	<div class="form-group">
		<label>
			<input name="store-payment-info" type="checkbox" autocomplete="off" checked><b>Store your payment data?</b>
		</label>
	</div>

	<button type="submit" id="payment-submit">Submit Payment</button>
</form>

<script type="text/javascript">
  // This identifies your website in the createToken call below
  Stripe.setPublishableKey('pk_test_H4OZUG84CRFTuQ0ffA8SQg6g');
  // ...
</script>
