<form action="" class="form-horizontal" id="registration-form">
	<span class="registration-errors"></span>
	<h2>Welcome to Bob's Bagels. You're in for a treat!</h2>
	<div class="form-row">
		<label>
			<span>First Name</span>
			<input type="text" class="form-control" id="first-name" />
		</label>
	</div>
	<div class="form-row">
		<label>
			<span>Last Name</span>
			<input type="text" class="form-control" id="last-name" />
		</label>
	</div>

	<div class="form-row">
		<label>
			<span>Email Address</span>
			<input type="text" class="form-control" id="email" />
		</label>
	</div>

	<div class="form-row">
		<label>
			<span>Phone</span>
			<input type="text" class="form-control" id="phone_number" />
		</label>
	</div>

	<div class="form-row">
		<label>
			<span>Address 1</span>
			<input type="text" class="form-control" id="address_1" />
		</label>
	</div>

	<div class="form-row">
		<label>
			<span>Address 2</span>
			<input type="text" class="form-control" id="address_2" />
		</label>
	</div>

	<div class="form-row">
		<label>
			<span>Zipcode</span>
			<input type="text" class="form-control" id="address_zipcode" />
		</label>
	</div>

	<div class="form-row">
		<label>
			<span>Password</span>
			<input type="text" class="form-control" id="password" />
		</label>
	</div>
<!--
	<div class="form-row">
		<label>
			<span>Password Confirmation</span>
			<input type="text" id="password-confirmation" />
		</label>
	</div>
-->


		<button type="submit" id="registration-submit">Submit</button>
</form>
